/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Merriweather:400,700,400italic);

/* ==========================================================================
   Base
   ========================================================================== */

html, body, #main {

    height: 100%;
    overflow: hidden;

    font-family: 'Merriweather', serif;

}

body { }

h1, h2, h3, h4, h5, h6 {

  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;

}  

/* ==========================================================================
   Discovery
   ========================================================================== */

#discovery {

    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    
    canvas {

      position: absolute;
      top: 0;
      left: 0;
      
    }

    video {

      position: absolute;
      top: 0;
      left: 0;

    }

}


/* ==========================================================================
   Portfolio
   ========================================================================== */

ul#portfolio {
  
  // hide by default
  display: none;

  position: absolute;
  top: 200px;
  left: 0px; 

  z-index: 10;

   margin: 0;
   padding: 0;

  li {
      
      display: inline-block;
      list-style: none;

  } 

}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {


}

.navbar-header {

  position: absolute;
  width: 100%;

}

.navbar-default {

  transition: background-color 1s;
  background-color: white;
  border: none;

  &.collapsed {
    background-color: transparent;
  }


  .navbar-nav>.active>a {
    background-color: transparent;
    color: #000;
    font-weight: bold;
  }

  .navbar-toggle {
  
  margin-top: 4px;

  border: none;

  .icon-bar {

    background-color: white;
    width: 16px;
    
    display: none;

  }

  span:last-of-type {

    .glyphicon();
    .glyphicon-remove();
    overflow: hidden;
    height: auto;
    background-color: transparent;

  }

  &.navbar-toggle:hover,
  &.navbar-toggle:focus {
    background-color: rgba(255,255,255,0.2);
  }

  &.collapsed {
    
    margin-top: 8px;

     .icon-bar,
     span:last-of-type {

        display: block;

    }

    span:last-of-type {

      text-indent: 500px;
      overflow: auto;
      width: 16px;
      height: 2px;

    }

  }

}

}

.navbar-collapse {
  
  position: absolute;
  top: 0;
  right: 80px;
  width: auto;
  

  @media (max-width: @grid-float-breakpoint) {
    background-color: white;
  }


  > ul {

    position: relative;
    float: right;

  }


  &.collapse {
    
    @media (min-width: @grid-float-breakpoint) {
      display: none !important;
      height: 100% !important;
    }

  }

}


/* ==========================================================================
   Content
   ========================================================================== */

#content { 
    
    position: absolute;
    background: rgba(255,255,255,0.6);
    color: #000;
    
    font-size: 1.3rem;

    top: 0;
    left: -999px;
    padding: 60px 60px 60px 40px;

    width: 50%;
    max-height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    // overflow: hidden;
    // overflow-x: auto;

}

.seo-content {
   display: none;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

body > footer { display: none }

.content-info { }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
