/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "hi-response-icons.less";

/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Merriweather:400,700,400italic);

/**
 * VARIABLES
 */
@text-color-001: #333333;
@text-color-002: #6d4523;
@text-color-003: #8d7d74;

@menu-text-color: #555555;
@menu-text-color-hover: #8d7d74;
@menu-text-color-on: #6d4523;

@icon-color: #555555;

/* ==========================================================================
   Base
   ========================================================================== */

* {

  .box-sizing(border-box);

}

html, body, main {

    font-size: 100%;

    height: 100%;
    overflow: hidden;

    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;

}

body { }

h1, h2, h3, h4, h5, h6 {

  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;

}




/* ==========================================================================
   Header
   ========================================================================== */

.navbar {

  display: relative;
  height: 84px;

  margin: 0;
  
  .header-inner-wrap {
    
    position: absolute;
    
    width: 95%;
    height: 100%;

    margin: auto;
    left: 0;
    right: 0;

  }
  
  // tablet portrait and below
  @media screen and (max-width: @screen-tablet) {

    height: 103px;

  }

  @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

    height: 60px;

  }

  @media screen and (max-width: 320px) {

    height: 60px;

  }

}

.navbar-default {

  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 0.750rem;
  text-transform: uppercase;
  color: @menu-text-color;
  letter-spacing: 0.15em;

  // phone landscape and below
  @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {
  
    font-size: 0.438rem;  
  
  }
  
  transition: background-color 1s;
  background-color: white;
  border: none;

  &.collapsed {
    background-color: transparent;
  }
  
  //fixed header part
  .navbar-header {

    position: absolute;
    bottom: auto;
    top: 22px;

    width: 100%;

    @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

      top: 9px;

    }
    
    // Menu button
    .navbar-toggle {
      
      position: absolute;
      bottom: -4px;
      right: 0;

      margin: 0;
      padding: 0;

      border: none;

      .icon-bar {

        background-color: rgba(200,200,200,1);
        width: 16px;

      }

      &.navbar-toggle:hover,
      &.navbar-toggle:focus {
        
        outline: none;
        background-color: rgba(255,255,255,0);

        .icon-bar {
          background-color: rgba(200,200,200,0.5);
        }

      }
      
      color: @menu-text-color;

      &.collapsed {

        color: white;

      }

      // tablet portrait and below
      @media screen and (max-width: @screen-tablet) {

        right: 18px;

      }

      // tablet portrait and below
      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        right: 11px;

      }

    }

    // VSLV LOGO
    .navbar-brand {
      
      position: relative;
      padding: 0;
      margin-top: 0;
      top: 1px;
      line-height: 0;

      img {

        width: 248px;
        height: 100%; 

      }

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {
        
          padding-left: 8px;

          img {

            width: 124px;

          }
          
      }

    }
    
  }
  // end of fixed header part
  
  // part of the header that is switched on/off
  .navbar-collapse {
  
    position: absolute;
    bottom: 34px;

    // offset is obtained with right ppty (instead setting a padding for instance)
    // to avoid menu overlapping menu button
    right: 50px;

    width: auto;

    border-top: 0;

    padding: 0px;

    // tablet portrait and below
    @media screen and (max-width: @screen-tablet) {
      
      right: auto;
      left: 19px;
      bottom: 18px;

      width: 100% !important;

    }

    @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {
      
      left: 10px;
      bottom: 0px;
      width: 100% !important;

    }

    @media screen and (max-width: 320px) {
      
      // bottom: 3px;

    }

    > ul {

      margin: 0;
      padding: 0;

      list-style: none;

    }

    .language-switcher {

      position: absolute;
      bottom: -25px;
      right: -67px;

      width: auto;

      font-size: 0.625rem;
      font-weight: bold;

      // tablet portrait and below
      @media screen and (max-width: @screen-tablet) {

        bottom: 0px;
        right: 20px;

      }

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {
        
        font-size: 0.438rem;

        top: -1px;
        bottom: auto;
        right: 10px;

      }

      li {

        display: inline;

        a {
          
          color: @menu-text-color;

          &:hover {

            text-decoration: none;
            color: @menu-text-color-hover;

          }

        }

        &.active {
          a {
            color: @menu-text-color-on;
          }
        }

        &:after {
          content: ' | ';
        }

        &:last-child {
          
           &:after {
            content: '';
          }

        }

      }

    }

    .navbar-nav {
      
      @media screen and (max-width: 320px) {

        width: 80%;

      }

      li {

        margin-right: 17px;

        float: left;

        @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {
        
          margin-right: 10px;
          margin-bottom: 11px;

        }

        &:last-child {

          margin-right: 0px;

        }

      }

      a {
        
        padding: 0;
        line-height: .65rem;

        color: @menu-text-color;

        &:hover {

          color:  @menu-text-color-hover;

        }

        &:active {

           color: @menu-text-color-on;

        }

      }

      > .active > a {
        
        background-color: transparent !important;
        color:  @menu-text-color-on;

      }

    }

    &.collapse {
      
      @media (min-width: @grid-float-breakpoint) {
        display: none !important;
        height: 100% !important;
      }

    }

  }
  // end of part of the header that we switch on/off

}


/* ==========================================================================
   Main
   ========================================================================== */

main {
  
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;

  > .preloader {
    
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    width: 66px;
    height: 66px;


    @media screen 
      and (min-device-width : 320px)
      and (max-device-width : 568px) {

        width: 33px;
        height: 33px;

    }
    
    background: url('../img/icon-preloader-main.svg') no-repeat;
    background-size: contain;


    &.animate {

      .animation(rotate-preloader 2s infinite step-start);
      z-index: 200;
      
    }

  }

}

@keyframes rotate-preloader {

  0% {
    .rotate(0deg);
  }

  25% {
    .rotate(90deg);
  }

  50% {
    .rotate(180deg);
  }

  75% {
    .rotate(270deg);
  }

  100% {
    .rotate(360deg);
  }

}

@-webkit-keyframes rotate-preloader {

  0% {
    .rotate(0deg);
  }

  25% {
    .rotate(90deg);
  }

  50% {
    .rotate(180deg);
  }

  75% {
    .rotate(270deg);
  }

  100% {
    .rotate(360deg);
  }

}

/* ==========================================================================
   Discovery
   ========================================================================== */

#discovery {

    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    
    canvas {

      position: absolute;
      top: 0;
      left: 0;

      z-index: 10;

      cursor: pointer; 
      
    }

    video {

      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      // min-width: 100%;
      // min-height: 100%;

      z-index: 20;

      // temp
      // opacity: .5;

    }

    .preloader {

      position: fixed;
      z-index: 100;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;

      #gradient .horizontal(#c7b29b, transparent, 50%, 100%);
      opacity: .6;

      .transform-origin(0px 0px);
      .scale(0);
      //.transition-transform(.1s);

    }

}

.discovery-hint {
  
  position: absolute;
  color: white;
  font-size: 12px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  z-index: 30;

  // hide by default
  opacity: 0;

  cursor: pointer;

  padding: 10px;

  background-color: rgba(255,255,255, 0);

  // TEMP
  // background-color: rgba(255,0,255, 1);

}


/* ==========================================================================
   Portfolio
   ========================================================================== */

#portfolio {
  
  position: absolute;
  top: 0;
  bottom: 0;

  z-index: 100;

  // hide by default
  left: 100%;

  width: 100%;
  height: 1px;

  margin: auto;
  overflow: hidden;

  .swiper-wrapper {

    // fix for height not being properly computed by swiper plugin on FF for instance
    height: 100% ! important;

  }

  &.is-open {

    padding: 20px 0; 
    
  }

  background: rgba(255,255,255,0.9);

  cursor: ew-resize;

  ul {

    position: relative;
    
    margin: 0;
    padding: 0;

    width: auto;
    height: 100%;

    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;


    li {
        
        // hide by default
        opacity: 0;

        display: inline;
        list-style: none;

        height: 100%;

        margin-left: 0.6%;
        overflow-x: auto;

        img {
          height: 100%;
          width: auto;
        }

    } 

  }

}

/* ==========================================================================
   Content
   ========================================================================== */

#content {

    position: absolute;
    top: 20%;
    .translate(-100%, 0);
    padding: 0;
    
    width: 56%;

    // we want a larger panel in portait
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 768px) 
      and (orientation: portrait) {

        width: 72%;

    }

    max-height: 60%;
    
    z-index: 100;

    background: rgba(255,255,255,0.9);
    color: @text-color-001;

    padding: 0 50px;

    @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

      padding: 0 35px 0 25px;

    }

    .content {

      //padding: 60px 50px 60px 50px;

      font-size: .938rem;
      line-height: 1.375rem;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        font-size: .563rem;
        line-height: .875rem;

      }

      cursor: ns-resize;

      .inner-content {

        padding: 50px 0px;

        @media screen 
          and (min-device-width : 320px)
          and (max-device-width : 568px) {

          padding: 25px 0px 40px;

        }
        
      }

      &.project {

        font-size: .875rem;
        line-height: 1.313rem;

        @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

          font-size: .563rem;
          line-height: .875rem;

        }

        .inner-content {

          padding: 60px 0px;

          @media screen 
            and (min-device-width : 320px)
            and (max-device-width : 568px) {

            padding: 25px 0px 40px;

          }
          
        }


      }

    }
    
    h1, h2, h3, h4, h5, h6, p {

      margin: 0 0 15px 0;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        margin: 0 0 8px 0;

      }

    }

    h1, h2 {

      text-transform: uppercase;
      letter-spacing: .2em;
      color: @text-color-002;
      font-weight: 700;

      strong, b {
        font-weight: 900;
      }

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        font-weight: 900;

      }

    }

    h1 {

      font-size: .938rem;
      line-height: 1.063rem;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        font-size: .625rem;
        line-height: .750rem;

      }

    }

    h2 {

      font-size: 1rem;
      line-height: 1.125rem;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        font-size: .625rem;
        line-height: .750rem;

      }

    }

    h3, h4 {

      font-family: 'Merriweather', sans-serif;
      font-size: 0.813rem;
      line-height: 1.313rem;

      color: @text-color-003;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        font-size: .563rem;
        line-height: .750rem;

      }
      
    }

    h1 + h3, h2 + h3 {
    
      // make h3 (which we use as subtitle) - stick right under title
      margin-top: -12px;

      @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

        margin-top: -4px;

      }

    }

    p {

      margin: 0 0 15px 0;

    }

    &.center-panel {

      margin: auto;
      top: 0; 
      left: 0 !important; 
      bottom: 0; 
      right: 0;

      .content {

        width: 100% !important;

        .inner-content {

          width: 100% !important;
          padding: 25px 0px;

          @media screen 
            and (min-device-width : 320px)
            and (max-device-width : 568px) {

              // padding: 5px 0px;

          }
          
        }

      }

    }

    .toggle {

      position: absolute;
      top: 15px;
      right: 15px;

      cursor: pointer;

      color: @icon-color;

      z-index: 10;

      text-align: right;

      width: 50px;
      height: 50px;

    }

    &.is-hidden {

      .toggle {

        .hi-response-left-arrow-stop();

        text-align: left;

      }

    }

    .scroll-hint {

      position: absolute;
      bottom: 15px;
      right: 15px;

      // correction for top: 1 on hi-response icon
      top: auto;

      color: @icon-color;

      z-index: 10;

    }

    ul.clients-list {

      margin:0;
      padding: 0;
      list-style: none;

      text-align: center;

      li {

        font-family: 'Merriweather', sans-serif;
        font-size: 0.875rem;
        line-height: 1.563rem;

        @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

          font-size: 0.625rem;
          line-height: .938rem;

        }

        color: @text-color-003;
        text-transform: uppercase;

        a {
          
          font-family: 'Maven Pro', sans-serif;
          font-weight: bold;
          
          font-size: 1rem;
          line-height: 1.563rem;

          @media screen 
        and (min-device-width : 320px)
        and (max-device-width : 568px) {

            font-size: 0.750rem;
            line-height: .938rem;

          }

          text-transform: uppercase;
          color: @text-color-002;

          text-decoration: none;

          &:hover {
            color: @text-color-003;
          }

          &:visited {
            color: @text-color-001;
          }

        }

      }

    }

}


/********************
*
* SPECIAL CASES
*
*********************/
body.contact {
  
  #content {
    // width: 33%;
  }

}

.seo-content {
   display: none;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

body > footer { display: none }

.content-info { }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
