/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Merriweather:400,700,400italic);

/**
 * VARIABLES
 */
@menu-text-color: #555555;

/* ==========================================================================
   Base
   ========================================================================== */

html, body, #main {

    font-size: 100%;

    height: 100%;
    overflow: hidden;

    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;

}

body { }

h1, h2, h3, h4, h5, h6 {

  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;

} 




/* ==========================================================================
   Header
   ========================================================================== */

.navbar {

  display: table;
  height: 100px;

  margin: 0;
  
  .header-inner-wrap {
    
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    padding: 15px;

  }

}

.navbar-header {

  position: relative;
  width: 100%;

}

// VSLV LOGO
.navbar-brand {

  padding: 0;
  margin-top: 0;

  img {
    width: 290px;
  }

}

.navbar-default {

  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 0.750rem;
  text-transform: uppercase;
  color: @menu-text-color;
  letter-spacing: 2px;
  
  transition: background-color 1s;
  background-color: white;
  border: none;

  &.collapsed {
    background-color: transparent;
  }


  .navbar-nav>.active>a {
    background-color: transparent !important;
    color: #000;
    font-weight: bold;
  }

  .navbar-toggle {
    
    margin-top: 0;

    border: none;

    .icon-bar {

      background-color: rgba(200,200,200,1);
      width: 16px;

    }

    &.navbar-toggle:hover,
    &.navbar-toggle:focus {
      
      outline: none;
      background-color: rgba(255,255,255,0);

      .icon-bar {
        background-color: rgba(200,200,200,0.5);
      }

    }

    &.collapsed {

      .icon-bar{

        background-color: rgba(255,255,255,1);

      }

    }

  }

}

.navbar-collapse {
  
  position: absolute;
  height: 50%;
  top: 0;
  bottom: 0;
  right: 80px;
  width: auto;
  margin: auto;
  

  @media (max-width: @grid-float-breakpoint) {
    background-color: white;
  }


  > ul {

    position: relative;
    float: right;

  }


  &.collapse {
    
    @media (min-width: @grid-float-breakpoint) {
      display: none !important;
      height: 100% !important;
    }

  }

}

/* ==========================================================================
   Discovery
   ========================================================================== */

#discovery {

    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden; 
    
    canvas {

      position: absolute;
      top: 0;
      left: 0;
      
    }

    video {

      position: absolute;
      top: 0;
      left: 0;

    }

}

.discovery-hint {
  
  position: absolute;
  color: white;
  font-size: 12px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  // hide by default
  opacity: 0;

  cursor: pointer;

  padding: 10px;

  background-color: rgba(255,255,255, 0);

}


/* ==========================================================================
   Portfolio
   ========================================================================== */

#portfolio {
  
  position: absolute;
  top: 0;
  bottom: 0;

  // hide by default
  left: 100%;

  width: 100%;
  height: 1px;

  z-index: 10;

  margin: auto;
  overflow: hidden;

  &.is-open {

    padding: 20px 0; 
    
  }

  background: rgba(255,255,255,0.8);

  ul {

    position: relative;
    
    margin: 0;
    padding: 0;

    width: auto;
    height: 100%;

    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;


    li {
        
        // hide by default
        opacity: 0;

        display: inline-block;
        list-style: none;

        height: 100%;

        margin-left: 20px;

        img {
          height: 100%;
          width: auto;
        }

    } 

  }

}

/* ==========================================================================
   Content
   ========================================================================== */

#content { 
    
    position: absolute;
    background: rgba(255,255,255,0.8);
    color: #000;
    
    font-size: 1.3rem;

    top: 0;
    left: -999px;
    padding: 60px 60px 60px 40px;

    width: 50%;
    max-height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    // overflow: hidden;
    // overflow-x: auto;


    &.center-panel {

      margin: auto;
      top: 0; 
      left: 0 !important; 
      bottom: 0; 
      right: 0;

    }

}

.seo-content {
   display: none;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

body > footer { display: none }

.content-info { }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
